.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Book'), url('./fonts/AirbnbCerealBook.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Light'), url('./fonts/AirbnbCerealLight.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'), url('./fonts/AirbnbCerealMedium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Bold'), url('./fonts/AirbnbCerealBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Extra Bold'), url('./fonts/AirbnbCerealExtraBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Airbnb Cereal App Black';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Black'), url('./fonts/AirbnbCerealBlack.woff') format('woff');
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -webkit-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  -moz-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  margin-top: -50px;
}

.title {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 20px;
  margin-top: 10px;
}

.text {
  font-family: 'Airbnb Cereal App Book';
}

.textDesc {
  font-family: 'Airbnb Cereal App Book';
  width: 400px;
  margin-top: 20px;
  text-align: left;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  -moz-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  width: 500px;
  height: 500px;
  margin-top: 100px;
  border-radius: 10px;
}

button:focus {outline:0;}

.button {
  -webkit-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  -moz-box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  box-shadow: -1px 16px 37px -1px rgba(213, 204, 204, 0.59);
  width: 100px;
  height: 50px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: 'Airbnb Cereal App Book';
  margin: 10px;
  transition: 0.8s;
  cursor: pointer;
}

.button:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}

.button:active {
  background-color: rgba(213, 204, 204, 0.59);
  background-size: 100%;
  transition: 0s;
}

.contentButton {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}